h1{
  color:black;
  opacity: 0.6;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
i{
  color: gray;
  width: auto;
  size: 10px;
  margin: auto;
  margin-right: 10px;
  
}
.container{
  margin-top: 3rem;
  height: auto;
  width: 400px !important;
  background-color:#ffffff;
  border: 1px solid black;
  border-radius: 15px;
}
div.form-group{
  margin-top: 5px;
}
.form-group label{
  margin: 5px;
  font-size: 14px;
}

form{
  margin-top: 5px;
  height: 350px;
}
.transfer{

margin-left: 3px;
margin-bottom: 10px;
}
.btnregister{
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  background-color: #0099ff;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 4px;
  cursor: pointer;
}
.transfer a{
  margin: 5px;
  color: #0099ff;
}