{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href={% static 'user/css/index.css' %} />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
.header{
  width:100%;
  height:100vh;
  background-image:url("{% static 'user/img/landing-child.jpeg' %}") ;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  color: white;
  font-weight: bold;
  opacity: 0.9;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
<body class="body">
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container text-uppercase ">

            <a class="navbar-brand" href="https://claylab.education/">ClayLab Student Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color:white">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href = {% url 'user:login' %} style="text-decoration : none;color:white;margin-left: 50px;" id="login">login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  style="text-decoration : none;color:white" href={% url 'user:signup' %}>Register</a>
                </li>
                
              </ul>
            </div>
           </div>
        </nav>
    </div>
    <!-- <div class="container"> -->
      <div class="centered">पढ़ेगा इंडिया तो बढ़ेगा इंडिया</div>
    <!-- </div> -->

<footer id="fh5co-footer" class="fh5co-sm" role="contentinfo">
		<div class="overlay"></div>
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-12 fh5co-widget">
					<h3>CLAYLAB is not a business or school. It is a mission to ensure that no one is left behind. It is a dream to ensure that everyone’s dreams come true.
            SHWETA,11th grade Science student</h3>
					<p><center><a class="btn btn-primary" style="margin-top: 2rem;" href = {% url 'user:login' %}>Become A Member</a></center></p>
				</div>
      </div>
		</div>

			<div class="row copyright">
				<div class="col-md-12 text-center" style="color: white; border-top: 1px solid white; padding-top: 1rem;">
					<p>
						<small class="block">&copy; 2021 | All Rights Reserved.</small> 
						<small class="block">JP Morgan Code For Good 2021</small>
					</p>
				</div>
			</div>

		</div>
	</footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>